<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exam.mybatis.mapper.UserMapper">
	<sql id="user_colums">
		id,name,address
	</sql>
	<!-- 自定义结果集，查询中不能用select *，查询单表时优先使用自动映射 -->
	<resultMap type="exam.mybatis.model.User" id="userMap">
		<id property="id" column="id"></id>
		<result property="name" column="name" />
		<result property="address" column="address" />
	</resultMap>

	<update id="updateById" parameterType="int">
		update user
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="address!=null">
				address=#{address},
			</if>
			<if test="age!=null">
				age=#{age},
			</if>
			<if test="sex!=null">
				sex=#{sex}
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="selectToWhere" resultType="user">
		select
		<include refid="user_colums" />
		from user
		<where>
			<if test="name!=null">
				and name=#{name}
			</if>
			<if test="address!=null">
				and address=#{address}
			</if>
		</where>
	</select>

	<!-- 参数javabean -->
	<select id="paramsToBean" resultType="User">
		select
		id,name,address
		from user where name=#{name} and
		address=#{address}
	</select>

	<!-- 参数注解 -->
	<select id="paramsToAnnotation" resultMap="userMap">
		select
		id,name,address
		from user where name=#{name} and
		address=#{address}
	</select>

	<!-- 参数map -->
	<select id="paramsToMap" parameterType="map" resultMap="userMap">
		select
		id,name,address
		from user where name=#{name} and
		address=#{address}
	</select>

	<select id="countLikeName" parameterType="string" resultType="int">
		select count(*) from user where name like concat(#{name},'%')
	</select>

	<select id="selectByID" parameterType="int" resultType="user">
		select *
		from user where id = #{id}
	</select>

	<!-- useGeneratedKeys：使用数据库主键生成策略 keyProperty：设置主键字段 insert数据后，主键会回填到JavaBean中 -->
	<insert id="insert" parameterType="User" useGeneratedKeys="true"
		keyProperty="id">
		insert into
		user(name,age,address)
		values(#{name},#{age},#{address})
	</insert>

	<update id="update" parameterType="User">
		update user set
		name=#{name},age=#{age},address=#{address}
		where id=#{id}
	</update>

	<delete id="delete">
		delete from user where id=#{id}
	</delete>
</mapper>