<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="User" type="exam.mybatis.model.User" />
	</typeAliases>

	<!-- default:在缺省情况下，使用那个数据源配置 -->
	<environments default="development">
		<!-- 配置数据源 -->
		<environment id="development">
			<!-- 数据库事物 -->
			<transactionManager type="JDBC">
				<!-- 事物自动提交 -->
				<property name="autoCommit" value="true" />
			</transactionManager>
			<!-- 数据库链接信息 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="exam/mybatis/mapper/UserMapper.xml" />
	</mappers>
</configuration>